<a href="https://colab.research.google.com/github/neuralsrg/SupervisedLearning/blob/main/Pandas%20Notes/DS_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Based on `@KeithGalli` Pandas tutorial

In [2]:
! mkdir /content/data/
! wget https://github.com/KeithGalli/pandas/blob/master/pokemon_data.csv -O /content/data/pokemon_data.csv

--2022-08-07 10:35:52--  https://github.com/KeithGalli/pandas/blob/master/pokemon_data.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘/content/data/pokemon_data.csv’

/content/data/pokem     [ <=>                ] 515.57K  --.-KB/s    in 0.1s

2022-08-07 10:35:53 (3.98 MB/s) - ‘/content/data/pokemon_data.csv’ saved [527944]

In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('pokemon_data.csv')
df.head()
# df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# Headers

In [8]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

# Read columns, rows

In [9]:
df[['Speed', 'Generation']]

     Speed  Generation
0       45           1
1       60           1
2       80           1
3       80           1
4       65           1
..     ...         ...
795     50           6
796    110           6
797     70           6
798     80           6
799     70           6

[800 rows x 2 columns]

In [14]:
# iterate through rows

for index, row in df.head(4).iterrows():
  print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur

In [11]:
df.iloc[0]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [13]:
df.iloc[0, 1]

'Bulbasaur'

# Sorting

In [19]:
df.loc[df['Type 1'] == 'Fire'].head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False

In [23]:
df.sort_values(['Name', 'Attack'], ascending=[True, False]).head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False

In [ ]:
df.sort

# Exploring data

In [21]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# Creating new columns

In [29]:
# df['Total'] = df['Attack'] + df['Defense']
df['Total'] = df.iloc[:, 5:7].sum(axis=1)

df.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,63,63,80,80,60,1,False,126
2,3,Venusaur,Grass,Poison,80,83,83,100,100,80,1,False,166
3,3,VenusaurMega Venusaur,Grass,Poison,80,123,123,122,120,80,1,False,246

# Deleting columns

In [27]:
df = df.drop(columns=['Total'])
df.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,63,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,83,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,123,123,122,120,80,1,False

# Filtering data

In [32]:
df.loc[(df['Name'] == 'Ivysaur') & (df['Type 1'] == 'Grass')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
1,2,Ivysaur,Grass,Poison,60,63,63,80,80,60,1,False,126

In [33]:
df.loc[~df['Name'].str.contains('Mega')].head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,63,63,80,80,60,1,False,126
2,3,Venusaur,Grass,Poison,80,83,83,100,100,80,1,False,166
4,4,Charmander,Fire,NaN,39,43,43,60,50,65,1,False,86
5,5,Charmeleon,Fire,NaN,58,58,58,80,65,80,1,False,116

In [46]:
df.drop_duplicates(['Type 1'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
4,4,Charmander,Fire,NaN,39,43,43,60,50,65,1,False,86
9,7,Squirtle,Water,NaN,44,65,65,50,64,43,1,False,130
13,10,Caterpie,Bug,NaN,45,35,35,20,20,45,1,False,70
20,16,Pidgey,Normal,Flying,40,40,40,35,35,56,1,False,80
28,23,Ekans,Poison,NaN,35,44,44,40,54,55,1,False,88
30,25,Pikachu,Electric,NaN,35,40,40,50,50,90,1,False,80
32,27,Sandshrew,Ground,NaN,50,85,85,20,30,40,1,False,170
40,35,Clefairy,Fairy,NaN,70,48,48,60,65,35,1,False,96
61,56,Mankey,Fighting,NaN,40,35,35,35,45,70,1,False,70
68,63,Abra,Psychic,NaN,25,15,15,105,55,90,1,False,30
80,74,Geodude,Rock,Ground,40,100,100,30,30,20,1,False,200
99,92,Gastly,Ghost,Poison,30,30,30,100,35,80,1,False,60
133,124,Jynx,Ice,Psychic,65,35,35,115,95,95,1,False,70
159,147,Dratini,Dragon,NaN,41,45,45,50,50,50,1,False,90
212,197,Umbreon,Dark,NaN,95,110,110,60,130,65,2,False,220
223,208,Steelix,Steel,Ground,75,200,200,55,65,30,2,False,400
702,641,TornadusIncarnate Forme,Flying,NaN,79,70,70,125,80,111,5,True,140

## Regex (regular expressions)

In [36]:
import re 

new_df = df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)].head(10) # re.I - Ignore Case
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,63,63,80,80,60,1,False,126
2,3,Venusaur,Grass,Poison,80,83,83,100,100,80,1,False,166
3,3,VenusaurMega Venusaur,Grass,Poison,80,123,123,122,120,80,1,False,246
4,4,Charmander,Fire,NaN,39,43,43,60,50,65,1,False,86
5,5,Charmeleon,Fire,NaN,58,58,58,80,65,80,1,False,116
6,6,Charizard,Fire,Flying,78,78,78,109,85,100,1,False,156
7,6,CharizardMega Charizard X,Fire,Dragon,78,111,111,130,85,100,1,False,222
8,6,CharizardMega Charizard Y,Fire,Flying,78,78,78,159,115,100,1,False,156
9,37,Vulpix,Fire,NaN,38,40,40,50,65,65,1,False,80

In [38]:
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)].head(10)
# [a-z]* means 0 or more occurences of any letter
# ^ means that PI is a begining of each line (cant stand in the middle)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,40,40,35,35,56,1,False,80
21,17,Pidgeotto,Normal,Flying,63,55,55,50,50,71,1,False,110
22,18,Pidgeot,Normal,Flying,83,75,75,70,70,101,1,False,150
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,160
30,25,Pikachu,Electric,NaN,35,40,40,50,50,90,1,False,80
136,127,Pinsir,Bug,NaN,65,100,100,55,70,85,1,False,200
137,127,PinsirMega Pinsir,Bug,Flying,65,120,120,65,90,105,1,False,240
186,172,Pichu,Electric,NaN,20,15,15,35,35,60,2,False,30
219,204,Pineco,Bug,NaN,50,90,90,35,35,15,2,False,180
239,221,Piloswine,Ice,Ground,100,80,80,60,60,50,2,False,160

In [ ]:
df.loc['content'].apply(lambda text: len(re.findall(r'\bWORD\b', text))) # \b - word boundary

# Changing data

In [41]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flame'
df.head(15)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,63,63,80,80,60,1,False,126
2,3,Venusaur,Grass,Poison,80,83,83,100,100,80,1,False,166
3,3,VenusaurMega Venusaur,Grass,Poison,80,123,123,122,120,80,1,False,246
4,4,Charmander,Flame,NaN,39,43,43,60,50,65,1,False,86
5,5,Charmeleon,Flame,NaN,58,58,58,80,65,80,1,False,116
6,6,Charizard,Flame,Flying,78,78,78,109,85,100,1,False,156
7,6,CharizardMega Charizard X,Flame,Dragon,78,111,111,130,85,100,1,False,222
8,6,CharizardMega Charizard Y,Flame,Flying,78,78,78,159,115,100,1,False,156
9,7,Squirtle,Water,NaN,44,65,65,50,64,43,1,False,130
10,8,Wartortle,Water,NaN,59,80,80,65,80,58,1,False,160
11,9,Blastoise,Water,NaN,79,100,100,85,105,78,1,False,200
12,9,BlastoiseMega Blastoise,Water,NaN,79,120,120,135,115,78,1,False,240
13,10,Caterpie,Bug,NaN,45,35,35,20,20,45,1,False,70
14,11,Metapod,Bug,NaN,50,55,55,25,25,30,1,False,110

In [42]:
df.loc[df['Type 1'] == 'Flame', 'Type 1'] = 'Fire'

# Datetime

In [ ]:
df['year'] = df.loc['purchase_date'].dt.year
df['month'] = df.loc['purchase_date'].dt.month

df['timeformat'] = df.loc['purchase_date'].dt.strftime('%Y-%m')

# Groupby

In [44]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,126.370370,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,252.740741
Rock,392.727273,65.363636,100.795455,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,201.590909
Dragon,474.375000,83.312500,86.375000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,172.750000
Ground,356.281250,73.781250,84.843750,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,169.687500
Ghost,486.500000,64.437500,81.187500,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,162.375000
Water,303.089286,72.062500,72.946429,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,145.892857
Ice,423.541667,72.000000,71.416667,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,142.833333
Grass,344.871429,67.271429,70.800000,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,141.600000
Bug,334.492754,56.884058,70.724638,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,141.449275
Dark,461.354839,66.806452,70.225806,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,140.451613
Poison,251.785714,67.250000,68.821429,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,137.642857
Fire,327.403846,69.903846,67.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,135.538462
Psychic,380.807018,70.631579,67.684211,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,135.368421
Electric,363.500000,59.795455,66.295455,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,132.590909
Flying,677.750000,70.750000,66.250000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,132.500000
Fighting,363.851852,69.851852,65.925926,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,131.851852
Fairy,449.529412,74.117647,65.705882,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,131.411765
Normal,319.173469,77.275510,59.846939,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,119.693878

# Working with large data

In [ ]:
for df in pd.read_csv('foo.csv', chunksize=10): # read 10 rows per time 
  pass